* {
  box-sizing: border-box;
}
header {
  background-color: #444;
  
}

header div {
  display: flex;
  flex-direction: row; 
  justify-content: center;
  width: 960px;
  margin: auto;
}

nav{
  display: flex;
  width: 960px;
  margin:auto;

  
}
 
ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
  height: 70px;
}

li {
  float: left;
  width: 200px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
}

h3 {
  font-family: 'Fira Sans', sans-serif;
  font-size: 35px;
}

p {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

main {
  background-color: bisque;
  width: 960px;
  margin: 30px auto 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
}
footer {
  background-color: coral;
  height: 50px;
}

main img {
  margin-bottom: 30px;
}

article {
  width: 450px;
  height: 400px;
}

main article a {
  color: white;
  padding: 15px 30px;
  background-color: #333333;
  border-radius: 15px;
  text-decoration: none;
  display: block;
  margin-top: 10px;
  width:max-content;

}

main article a:hover{
  background-color: red;
  transition-duration: 350ms;
}

article section {
  height: 309px;
  overflow: auto;
}

